        <footer
          class="ct-footer ct-theme-light"
          role="contentinfo"
          data-component-name="ct-footer"
        >
          <div class="container ct-footer__top">
            <div class="row">
              <div class="col-xxs-12 col-m-6">
                <div class="ct-footer__top__content-top1">
                  {{ FOOTER_TOP_1 }}
                </div>
              </div>

              <div class="col-xxs-12 col-m-6">
                <div class="ct-footer__top__content-top2">
                  {{ FOOTER_TOP_2 }}
                </div>
              </div>
            </div>
          </div>

          <div class="container ct-footer__middle">
            <div class="row">
              <div class="col-xxs-12 col-m-3">
                <div class="ct-footer__middle__content-middle1">
                  {{ FOOTER_MIDDLE_1 }}
                </div>
              </div>

              <div class="col-xxs-12 col-m-3">
                <div class="ct-footer__middle__content-middle2">
                  {{ FOOTER_MIDDLE_2 }}
                </div>
              </div>

              <div class="col-xxs-12 col-m-3">
                <div class="ct-footer__middle__content-middle3">
                  {{ FOOTER_MIDDLE_3 }}
                </div>
              </div>

              <div class="col-xxs-12 col-m-3">
                <div class="ct-footer__middle__content-middle4">
                  {{ FOOTER_MIDDLE_4 }}
                </div>
              </div>
            </div>
          </div>

          <div class="container ct-footer__bottom">
            <div class="row">
              <div class="col-xxs-12 col-m-7">
                <div class="ct-footer__bottom__content-bottom1">
                  {{ FOOTER_BOTTOM_1 }}
                </div>
              </div>

              <div class="col-xxs-12 col-m-5">
                <div class="ct-footer__bottom__content-bottom2">
                  {{ FOOTER_BOTTOM_2 }}
                </div>
              </div>
            </div>
          </div>
        </footer>