<div style="padding: 1.5rem;">
  <div class="ct-feature-link-list ct-theme-light ct-feature-link-list--icon-leading" data-component-name="ct-feature-link-list">
    <h4 class="ct-heading ct-theme-light ct-feature-link-list__title">Suggested prompts</h4>
    <ul class="ct-feature-link-list__items">

      <li class="ct-feature-link-list__item">
        <a class="ct-feature-link-list__link" href="#">
          <span class="ct-feature-link-list__icon ct-feature-link-list__icon--leading" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
          </span>
          <span class="ct-feature-link-list__content">
            <span class="ct-feature-link-list__link-title">How do I apply for a grant?</span>
          </span>
        </a>
      </li>

      <li class="ct-feature-link-list__item">
        <a class="ct-feature-link-list__link" href="#">
          <span class="ct-feature-link-list__icon ct-feature-link-list__icon--leading" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
          </span>
          <span class="ct-feature-link-list__content">
            <span class="ct-feature-link-list__link-title">Show me recent policy updates</span>
          </span>
        </a>
      </li>

      <li class="ct-feature-link-list__item">
        <a class="ct-feature-link-list__link" href="#">
          <span class="ct-feature-link-list__icon ct-feature-link-list__icon--leading" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
          </span>
          <span class="ct-feature-link-list__content">
            <span class="ct-feature-link-list__link-title">Summarise the latest annual report</span>
          </span>
        </a>
      </li>

      <li class="ct-feature-link-list__item">
        <a class="ct-feature-link-list__link" href="#">
          <span class="ct-feature-link-list__icon ct-feature-link-list__icon--leading" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
          </span>
          <span class="ct-feature-link-list__content">
            <span class="ct-feature-link-list__link-title">Find datasets about transport</span>
          </span>
        </a>
      </li>

    </ul>
  </div>
</div>
