---
layout: main
---

        <main class="ct-layout ct-layout--no-top-left ct-layout--no-top-right ct-layout--no-bottom-left ct-layout--no-bottom-right" role="main">
            <div>{{ content_top }}</div>
            <div class="ct-layout__inner container-fluid" data-masonry="true">
              <section class="ct-layout__main">
                <div>
                {{ content }}
              </div>
              </section>
            </div>

            <div >{{ content_bottom }}</div>


        </main>
